<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Telp</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <%if (contacts.length===0){%>
          <div class="alert alert-danger fw-bold" role="alert">
            data contact kosong
          </div>
          <%}else{%> <% nmr=0; contacts.forEach(c=>{ nmr=nmr+1; %>
          <tr>
            <th scope="row"><%= nmr %></th>
            <td><%= c.nama %></td>
            <td><%= c.nohp %></td>
            <td>
              <a
                href="/contact/<%= c.nama %>"
                class="btn btn-success badge rounded-pill"
                ><i class="bi bi-info-circle"></i> Detail</a
              >
            </td>
          </tr>
          <% }); }%>
        </tbody>
      </table>
    </div>
  </div>
</div>
