<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/man.png"
        alt="image-foto"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="dislay-4">Amir</h1>
      <p class="lead">Dosen & Software Developer</p>
    </div>
  </div>
</div>
