<nav
  class="w-screen bg-black flex justify-between items-center py-6 px-[7%] shadow-2xl"
>
  <h1 class="text-3xl font-semibold text-white">Data Mahasiswa</h1>
  <ul class="flex gap-6">
    <li>
      <a href="./" class="text-xl font-medium text-white">List Mahasiswa</a>
    </li>
    <li>
      <a href="./add" class="text-xl font-medium text-white"
        >Tambah Mahasiswa</a
      >
    </li>
  </ul>
</nav>
